#draw {
  width: 640px;
  height: 480px;
  position:absolute;
  z-index:1;
  left: 50%;
  margin-left: -395px;
  top: 150px;
}

#localView {
  width: 640px;
  height: 480px;
  position:absolute;
  z-index:1;
  left: 50%;
  margin-left: -395px;
  top: 150px;
  -webkit-transform: scale(-1, 1);
}

#remoteView {
  width: 240px;
  height: 180px;
  position:absolute;
  left: 50%;
  margin-left: 280px;
  top: 450px;
  z-index:1;
}
#arbol {
  width: 390px;
  height: ;
  position:absolute;
  left: 50%;
  margin-left: 255px;
  top: 140px;
  z-index:0;
}
#marcador {
  width: 200px;
  height: 100px;
  position:absolute;
  left: 50%;
  margin-left: 370px;
  top: 305px;
  z-index:1;
  background-color: transparent;
  font-size: 16pt;
  font-family: Arial;
  color: white;
  resize: none;
  border: none;
}

#resultText {
  width: 320px;
  height: 240px;
  position:absolute;
  z-index:2;
  left: 50%;
  margin-left: -83px;
  top: 280px;
  background-color: transparent;
  font-size: 20pt;
  font-family: Arial;
  color: white;
  resize: none;
  border: none;
}


#gametime {
  width: 100px;
  height: 30px;
  position:absolute;
  left: 50%;
  margin-left: 480px;
  top: 305px;
  z-index:1;
  background-color: transparent;
  font-size: 16pt;
  font-family: Arial;
  color: white;
  resize: none;
  border: none;
}

#cuenta {
  width: 640px;
  height: 480px;
  position:absolute;
  z-index:2;
  left: 50%;
  margin-left: -395px;
  top: 150px;
}